@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard {
  width: 700px;
  border: 1px solid white;
  border-radius: 15px;
  margin-top: 50px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-left: 30px;
}

.score {
  width: 150px;
  height: 114px;
  background-color: white;
  border-radius: 10px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score h1 {
  color:  hsl(229, 25%, 31%);
  font-size: 56px;
}

.score p{
  color: hsl(229, 64%, 46%);
  font-size: 16;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 2px;
}