@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
	/* Primary */
	--primary-color: #007AF3;

	--Scissors-Gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
	--Paper-Gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
	--Rock-Gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
	--Lizard-Gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
	--Cyan: hsl(189, 59%, 53%), hsl(189, 58%, 57%);

	/* Neutral */
	--Dark-Text: hsl(229, 25%, 31%);
	--Score-Text: hsl(229, 64%, 46%);
	--Header-Outline: hsl(217, 16%, 45%);
	/* Background */
	--background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
	--background-color: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

/* Genaral */
body {
	background-color: hsl(237, 49%, 15%);
	background-image: var(--background-image);
	font-family: 'Barlow Semi Condensed', sans-serif;
	color: aliceblue;
	position: absolute;
	top: 0;
	right:calc(50, 50);
	transform: translate(0, 0);
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

#main {
	justify-content: center;
  align-items: center;
}

/* Title and score section */
.head {
	max-width: 100%;
	display: flex;
	margin: 30px;
	padding: 15px 20px;
	border: 3px solid hsl(217, 16%, 45%);
	border-radius: 8px;
}

.title img {
	width: 6rem;
	height: auto;
	padding-top: 15px;
}

div.score {
	position: relative;
	left: calc(40% - 5px);
	background-color: aliceblue;
	color: hsl(229, 64%, 46%);
	width: 100px;
	height: 80px;
	border-radius: 5px;
	padding: 0;
	margin-top: 2px;
	justify-content: center;
	text-align: center;
}

.score p {
	font-size: 12px;
	margin-top: 8px;
	margin-bottom: 5px;
	letter-spacing: 1.5px;
}

.scoreIndex {
	/* font-family: 'Barlow Semi Condensed', sans-serif; */
	color: hsl(229, 25%, 31%);
	font-size: 2.2rem;
	font-weight: bolder;
}

/* Choice Section */
#choice {
	display: flex;
	margin-top: 80px;
	justify-content: center;
	align-items: center;
}

.triangle img {
	position: absolute;
	margin-top: 80px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* z-index: -999; */
}


.choiceBtns {
	/* z-index: 999; */
}

/* Mobile Display */
/* @media only screen and (min-width: 370px) {
  body {
    background-color: var(--background-color);
  }
} */


.bton img {
	width: 50px;
	height: 50px;
}

.bton {
	position: relative;
	padding: 23px;
	border-radius: 100%;
}

.btn:hover {
	cursor: pointer;
}

.rock {
	position: relative;
	top: 15rem;
	right: calc(100% - 16rem);
	border: 13px solid hsl(349, 71%, 52%);
	box-shadow: 0 5px 0 0 hsla(349, 71%, 52%, 0.685), inset 0 5px 3px 0 hsl(240, 1%, 63%);
}

.paper {
	border: 13px solid hsl(230, 89%, 62%);
	box-shadow: 0 5px 0 0 hsla(230, 89%, 65%, 0.685), inset 0 5px 3px 0 hsl(240, 1%, 63%);
}

.scissors {
	right: -33.5%;
	border: 13px solid hsl(39, 89%, 49%);
	box-shadow: 0 5px 0 0 hsla(40, 84%, 53%, 0.685), inset 0 5px 3px 0 hsl(240, 1%, 63%);
}


/* Desktop Display */
/* @media only screen and (min-width: 1366px) {
  body {
    background-color: var(--background-color);
  }
} */